.resources{
    padding:40px 50px;
    width: 100%;
    height: 600px;
    .resources__h1{
        text-align: center;
        color:#ef9d00;
    }
    .resources__grid{
        display: grid;
        column-gap: 30px;
        margin-top: 40px;
        grid-template-columns: repeat(3,1fr);
        .resources__card{
            border: 1px solid rgb(229, 232, 235);
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            cursor: pointer;
            transition: .5s ease-in-out;
            &:hover{
                box-shadow: 1px 2px 9px rgba(0,0,0,.6);
            }
           .resources__image{
               width: 100%;
               object-fit: contain;
               border-top-left-radius: 10px;
               border-top-right-radius: 10px;
               border-bottom: 1px solid rgb(229, 232, 235);
               background-color: rgb(229, 232, 235);
           } 
           .resources__title{
            margin: 10px 20px 10px 16px;
            height: 50px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            a{
                text-decoration: none;
                color: rgb(53, 56, 64);
                font-weight: 600;
                font-size: 19px;
            }
           }
        }

    }
    
}